/*==== news ====*/
.news {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  align-items: center;
}

.news .news-card {
  position: relative;
  margin: 0.5rem 0;
}

.news .news-card::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--shadow-plan));
}

.news .news-card img {
  width: 20.375rem;
  height: 11rem;
  object-fit: cover;
}

.news .news-card h3 {
  font-family: var(--subtitle-font);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  text-align: center;
  position: absolute;
  width: 20rem;
  bottom: 10%;
  left: 0;
  z-index: 3;
}
