:root {
  /*==== Color variable====*/
  --shadow-core: #0d0d12; /*==== background color ====*/
  --shadow-plan: #141419;
  --void-purple: #3c1a5b; /*==== Important tittles ====*/
  --soul-glow: #a855f7; /*==== Hover and links ====*/
  --moonlight: #f1e9fc; /*==== Text ====*/
  --ash-veil: #727272; /*==== Disable ====*/
  --eclipse-red: #8a1c2f; /*==== Alerts ====*/

  /*==== Font variable ====*/
  --title-font: "Cinzel Decorative", serif;
  --subtitle-font: "Cinzel", serif;
  --body-font: "Montserrat", serif;

  /*==== Font size ====*/
  --font-size-xxg: 2.5rem;
  --font-size-xg: 2rem;
  --font-size-gg: 1.75rem;
  --font-size-g: 1.5rem;
  --font-size-m: 1.25rem;
  --font-size-p: 1.125rem;
  --font-size-pp: 0.875rem;

  /*==== Font weight ===*/
  --font-weight-gg: 900;
  --font-weight-g: 700;
  --font-weight-m: 500;
  --font-weight-p: 400;

  /*==== Shadows ====*/
  --shadow-eclipse: 0 2px 3px 0rem rgba(0, 0, 0, 0.3),
    0 6px 10px 4px rgba(0, 0, 0, 0.15);
  --shadow-glow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

/*==== Utility ====*/
.primary-btn {
  font-family: var(--subtitle-font);
  font-size: var(--font-size-g);
  font-weight: var(--font-weight-g);
  padding: 0.25rem 3.5rem;
  background-color: var(--void-purple);
  color: var(--moonlight);
  border-radius: 0.313rem;
}

.primary-btn:hover {
  background-color: var(--soul-glow);
  color: var(--shadow-core);
  cursor: pointer;
}

.divider {
  margin: 2rem;
}

.navbar .navbar-content .navbar-item:hover {
  color: var(--soul-glow);
  font-weight: var(--font-weight-g);
  cursor: pointer;
}

/*==== Standard config ====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--shadow-core);
  color: var(--moonlight);
  line-height: 1.6;
}

.main-structure {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto auto auto auto;
  min-height: 100vh;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "main-area main-area main-area main-area"
    "benefits benefits benefits benefits"
    "how-to-use how-to-use how-to-use how-to-use"
    "news news news news"
    "footer footer footer footer";
}

/*==== Navbar ====*/
.navbar {
  grid-area: navbar;
  padding: 1rem 3rem;
  margin-top: 0rem;
  align-items: center;
  justify-content: space-between;
  font-family: var(--title-font);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-g);
  display: flex;
  background-color: var(--shadow-plan);
}

.logo img {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  border-radius: 0.313rem;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-family: var(--title-font);
}

.navbar-content {
  text-decoration: none;
  align-items: center;
  list-style: none;
  font-family: var(--subtitle-font);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-m);
  display: flex;
  gap: 1rem;
}

.navbar .navbar-content .navbar-item {
  padding: 1rem;
}

/*==== Main area ====*/

.main-area {
  grid-area: main-area;
  margin: 2rem 3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
}

.main-area .showcase {
  position: relative;

  /* Para evitar vazamentos e bugs visuais */
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main-area .showcase img {
  transform: scaleX(-1); /*Espelhar imagem*/
}

.main-area .showcase::after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40rem;
  background: linear-gradient(to bottom, transparent, var(--shadow-core));
  pointer-events: none;
}

.main-area .showcase .text-sub {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  top: 16rem;
  left: 4rem;
  max-width: 29.25rem;
  max-height: 22.188rem;
}

.main-area .showcase .text-sub h1 {
  font-family: var(--title-font);
  font-size: var(--font-size-xxg);
  font-weight: var(--font-weight-gg);
}

.main-area .showcase .text-sub h2 {
  font-family: var(--subtitle-font);
  font-size: var(--font-size-xg);
  font-weight: var(--font-weight-g);
  color: var(--ash-veil);
}
.main-area .showcase .text-sub p {
  font-family: var(--body-font);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-m);
  color: var(--moonlight);
  text-align: justify;
  margin-top: 2rem;
}

.main-area .showcase .text-sub .btn-showcase {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-around;
}

/*==== Benefits ====*/
.benefits {
  grid-area: benefits;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
}

.benefits img {
  width: 27.5rem;
  height: 24.125rem;
}

.benefits .first-section-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.benefits .second-section-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.benefits .card-benefits {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 30.438rem;
  box-shadow: var(--shadow-eclipse);
  border-radius: 0.313rem;
}

.benefits .card-benefits img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.313rem 0.313rem 0 0;
}

.benefits .card-benefits h1 {
  font-family: var(--subtitle-font);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-g);
  margin: 1.75rem 1.5rem;
}

.benefits .primary-btn {
  width: 272px;
  padding: 0.25rem 2rem;
  align-self: center;
}

/*==== How-to-Use =====*/
.how-to-use {
  grid-area: how-to-use;
  margin: 4rem 0;
}

.how-to-use .bg-HtU {
  position: relative;
  /* Para evitar vazamentos e bugs visuais */
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.how-to-use .bg-HtU h1 {
  position: absolute;
  z-index: 2;
  top: 2.5rem;
  left: 9.313rem;
  font-family: var(--title-font);
  font-size: var(--font-size-gg);
  font-weight: var(--font-weight-gg);
}

.how-to-use .bg-HtU img {
  width: 85.375rem;
  height: 59.125rem;
  transform: rotate(180deg);
  box-shadow: var(--shadow-eclipse);
}

.how-to-use .bg-HtU .video {
  position: absolute;
  z-index: 3;
  top: 6rem;
  left: 9.313rem;
}
.how-to-use .bg-HtU .video iframe {
  width: 66.75rem;
  height: 43.313rem;
}

/*==== News ====*/
.news {
  grid-area: news;
  margin: 2rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.news .news-area-1 {
  display: flex;
  position: relative;
}

.news .news-area-1 .img-news1::after {
  content: "";
  position: absolute;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, var(--shadow-core));
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40rem;
  pointer-events: none;
}

.news .news-area-1 img {
  width: 44.688rem;
  height: 52.25rem;
  border-radius: 0.313rem;
  object-fit: cover;
}

.news .news-area-1 h2 {
  font-family: var(--title-font);
  font-size: var(--font-size-gg);
  font-weight: var(--font-weight-gg);
  color: var(--moonlight);
  position: absolute;
  z-index: 3;
  left: 3rem;
  top: 43rem;
  width: 28rem;
  border-radius: 0.313rem;
}

.news .news-area-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news .news-area-2 img {
  width: 32.688rem;
  height: 25.125rem;
  border-radius: 0.313rem;
  object-fit: cover;
}

.news .news-area-2 .news-subarea-1 {
  position: relative;
}

.news .news-area-2 .news-subarea-1::after {
  content: "";
  position: absolute;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, var(--shadow-core));
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  pointer-events: none;
}

.news .news-area-2 .news-subarea-1 h2 {
  font-family: var(--title-font);
  font-size: var(--font-size-g);
  font-weight: var(--font-weight-gg);
  color: var(--moonlight);
  position: absolute;
  z-index: 3;
  left: 3rem;
  top: 18rem;
  width: 28rem;
  border-radius: 0.313rem;
}

.news .news-area-2 .news-subarea-2 {
  position: relative;
}

.news .news-area-2 .news-subarea-2::after {
  content: "";
  position: absolute;
  z-index: 2;
  background: linear-gradient(to bottom, transparent, var(--shadow-core));
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  pointer-events: none;
}

.news .news-area-2 .news-subarea-2 h2 {
  font-family: var(--title-font);
  font-size: var(--font-size-g);
  font-weight: var(--font-weight-gg);
  color: var(--moonlight);
  position: absolute;
  z-index: 3;
  left: 3rem;
  top: 18rem;
  width: 28rem;
  border-radius: 0.313rem;
}

/*==== Footer ====*/
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  background: var(--shadow-plan);
}

.footer .footer-content {
  flex-wrap: wrap;
  display: flex;
  gap: 4.5rem;
  flex-direction: row;
  margin: 3rem;
}

.logo-part-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-part-footer p {
  font-family: var(--body-font);
  font-size: var(--font-size-pp);
  font-weight: var(--font-weight-m);
  display: flex;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-family: var(--title-font);
}

.footer ul {
  list-style: none;
  text-decoration: none;
}

.footer .footer-content .support-footer h3 {
  font-family: var(--body-font);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-m);
  color: var(--ash-veil);
  padding-bottom: 1rem;
}

.footer .footer-content .support-footer .support-item {
  font-family: var(--body-font);
  font-size: var(--font-size-pp);
  font-weight: var(--font-weight-p);
  line-height: 2;
}

.footer .footer-content .about-footer h3 {
  font-family: var(--body-font);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-m);
  color: var(--ash-veil);
  padding-bottom: 1rem;
}

.footer .footer-content .about-footer .about-item {
  font-family: var(--body-font);
  font-size: var(--font-size-pp);
  font-weight: var(--font-weight-p);
  line-height: 2;
}

.footer .footer-content .socials-footer h3 {
  font-family: var(--body-font);
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-m);
  color: var(--ash-veil);
  padding-bottom: 1rem;
}

.footer .footer-content .socials-footer li {
  font-family: var(--body-font);
  font-size: var(--font-size-pp);
  font-weight: var(--font-weight-p);
  line-height: 2;
  justify-self: center;
}
